.head {
    text-align: center;
    margin-top: -5%;
    margin-left: -5%;
    margin-right: -5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #39c5bb;
}
.body {
    margin-left: 5%;
    margin-right: 20%;
}
a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #27DCE2;
    text-decoration: none;
}
a:active {
    color: #27DCE2;
    text-decoration: underline;
}
/* 引用HarmonyOS字体 */
/* 注：HarmonyOS_Sans的LICENSE文件目录为:/font/LICENSE.txt */
@font-face {
    font-family: 'HarmonyOS_Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(/font/HarmonyOS_Sans.woff2) format('woff2');
    src: url(/font/HarmonyOS_Sans.woff) format('woff');
}

/* 字体启用 */
html {
    font-family: 'HarmonyOS_Sans', sans-serif;
}
